$rounded: 3px;

$offWhite: #fafafa;
$textColor: hsl(200, 15%, 8%);
$boxShadow: 0px 1px 4px #eee;


$dark100: hsl(207, 26%, 17%);
$dark200: hsl(209, 23%, 22%);
$boxShadowDark: 0px 1px 4px #333;


$breakMid: 1000px;
$breakMobile: 590px;


