@import 'reset';
@import 'variables';
@import 'typography';
@import 'mixins';
@import 'utilities';

body {
	background: $offWhite;
	ol, ul {
		list-style: none;
	}
	button {
		cursor: pointer;
		outline: none;
		&:focus-visible {
			outline: 1px solid blue;
		}
	}
	* {
		color: $textColor;
	}
}

.header {
	padding-block: 1.4em;
	background-color: #fff;
	a {
		color: inherit;
		text-decoration: none;
	}
	button {
		i {
			font-weight: 900;
			color: #555;
			margin-right: 5px;
		}
	}
}

.top-user-area {
	margin-block: 48px;
	gap: 2em;
	@media screen and (max-width: $breakMobile) {
		flex-direction: column;
	}
	.search-wrap, .region-filter-dropdown {
		height: 55px;
	}
	.search-wrap {
		width: 480px;
		position: relative;
		overflow: hidden;
		border-radius: $rounded;
		background: #fff;
		@media screen and (max-width: $breakMobile) {
			width: 100%;
		}
		.fa-search {
			color: #999;
			position: absolute;
			left: 15px;
			top: 50%;
			transform: translateY(-50%);
		}
		input {
			height: 100%;
			width: 90%;
			right: 0;
			position: absolute;
			outline: none;
		}
	}
	.region-filter-dropdown {
		display: flex;
		position: relative;
		width: 200px;
		z-index: 1;
		border-radius: $rounded;
		background-color: #fff;
		#region-toggle-button {
			width: 100%;
			text-align: left;
			padding: 0 5px 0 15px;
		}
		.fa-angle-down {
			position: absolute;
			right: 15px;
			top: 18px;
		}
		ul {
			position: absolute;
			width: 100%;
			top: 55px; left: 0;
			background-color: inherit;
			padding: 0;
			box-shadow: inherit;
			border-radius: $rounded;
			max-height: 0;
			overflow-y: hidden;
			transition: .3s max-height ease-in-out;
			li {
				button {
					padding: 5px 15px;
					display: block;
					width: 100%;
					text-align: left;
					background-color: inherit;
					transition: .3s background, color ease-in-out;
					&:hover, &:focus-visible {
						background: steelblue;
						color: #fff;
						outline: none;
					}
				}
			}
			&.list-show {
				max-height: 200px;
			}
		}
	}
}


.grid-wrap {
	padding-bottom: 3em;
}
.grid {
	display: grid;
	grid-template-columns: auto auto auto auto;
	gap: 75px;
	position: relative;
	@media screen and (max-width: $breakMid) {
		grid-template-columns: auto auto auto;
		gap: 2em;
	}
	@media screen and (max-width: $breakMobile) {
		grid-template-columns: auto;
		gap: 2em;
	}
	.country-card {
		background-color: #fff;
		border-radius: $rounded;
		position: relative;
		box-shadow: $boxShadow;
		max-width: 265px;
		@media screen and (max-width: $breakMobile) {
			max-width: none;
		}
		.flag-wrap {
			border-radius: $rounded $rounded 0 0;
			overflow: hidden;
			box-shadow: 0 1px 1px #eee;
			img {
				width: 100%;
			}
		}
		.country-info {
			padding: 1em;
			
			position: relative;
			border-radius: 0 0 inherit;

			.country-name {
				font-weight: 900;
				margin-bottom: 1em;
			}	
		}
		button {
			position: absolute;
			inset: 0;
			height: 100%;
			width: 100%;
		}
	}

	.country-detail {
		//needs to be absolute to remove it from parent grid layout
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		.country-detail-inner {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 5em;
			@media screen and (max-width: $breakMid) {
				display: block;
				margin-bottom: 5em;
			}
		}
		.flag-wrap, .country-info {
			width: 45%;
			@media screen and (max-width: $breakMid) {
				width: 100%;
				margin-block: 2em;
			}
		}

		.flag-wrap img {
			box-shadow: $boxShadow;
			@media screen and (max-width: $breakMobile) {
				width: 100%;
			}
		}
		.country-info {
			>.d-flex {
				gap: 6em;
				justify-content: space-between;
				@media screen and (max-width: $breakMid) {
					justify-content: initial;
				}
				@media screen and (max-width: $breakMobile) {
					flex-direction: column;
					gap: 2em;
				}
				.col {
					>div {
						margin-block: .5em;
					}
				}
			}
			h2 {
				font-size: 2rem;
				margin-bottom: 1em;
			}
			.border-countries {
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				gap: .5em;
				margin-top: 3em;
				strong {
					margin-right: 1em;
				}
				button.border-country {
					box-shadow: $boxShadow;
					padding: 5px 15px;
					border-radius: $rounded;
					background: #fff;
				}
				@media screen and (max-width: $breakMobile) {
					display: block;
					strong {
						display: block;
					}
					button.border-country {
						display: inline-block;
						margin: .75em .75em 0 0;
					}
				}
			}
		}
		


		.back-button {
			display: block;
		  	width: 135px;
		  	padding: 10px;
		  	margin-top: 5em;
		  	background-color: #fff;
		  	box-shadow: $boxShadow;
		  	border-radius: $rounded;
		  	position: relative;
		  	line-height: 0;
		  	height: 40px;
		  	&::before {
		  		content: "←";
		  		font-size: 18px;
		  		position: absolute;
		  		left: 20px;
		  	}
		}
	}
}



///// dark mode 

.body.dark-mode, .body.dark-mode .grid .country-detail {
	background: $dark100;
	* {
		color: #fff;
	}
	.header, .top-user-area .search-wrap, .top-user-area .region-filter-dropdown, .grid .country-card, .back-button, .grid .country-detail .country-info .border-countries button.border-country {
		background: $dark200;
	}
	.top-user-area .region-filter-dropdown li button:hover, .top-user-area .region-filter-dropdown li button:focus-visible {
		background: #fff;
		color: $textColor;
	}
	.grid .country-card, .grid .country-detail .flag-wrap img, .back-button, .grid .country-detail .country-info .border-countries button.border-country {
		box-shadow: $boxShadowDark;
	}
	.grid .country-card .flag-wrap {
		box-shadow: 0 1px 1px #555;
	}
}



